/* buttonstyle.css */
.login-button-container {
    position: absolute;
    top: 30px;
    right: 30px;
}

.login-link {
    text-decoration: none;
}

.login-button {
    background-color: #009879;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #45a049;
}
